<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        microMail 1.2.0 - example email template<br />
        <br />
        {{hello}}
    </body>
</html>